
*.xcuserstate
*.xcuserstate
*.xcuserstate
AplicaciónCETAC/AplicaciónCETAC.xcodeproj/project.xcworkspace/xcuserdata/soteroosuna.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
.DS_Store
CETACApp/CETACApp/Info.plist
